.normal{
  background: #e0e0e0;
}
.fighting{
  background: #ce93d8;
}
.flying{
  background: #80cbc4;
}
.poison{
  background: #9c27b0;
}
.ground{
  background: #8d6e63;
}
.rock{
  background: #757575;
}
.bug{
  background: #26a69a;
}
.ghost{
  background: #ababab;
}
.steel{
  background: #616161;
}
.fire{
  background: #f44336;
}
.grass{
  background: #66bb6a;
}
.electric{
  background: #ffee58;
}
.psychic{
  background: #d500f9;
}
.ice{
  background: #82b1ff;
}
.dragon{
  background: #e91e63;
}
.dark{
  background: #37474f;
}
.fairy{
  background: #ba68c8;
}
.unknown{
  border: 1px solid gray;
}
.shadow{
  background: #455a64;
}
.water{
  background: #4fc3f7;
}


