@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Signika+Negative:wght@400;500;600;700&display=swap");
.normal {
  background: #e0e0e0;
}

.fighting {
  background: #ce93d8;
}

.flying {
  background: #80cbc4;
}

.poison {
  background: #9c27b0;
}

.ground {
  background: #8d6e63;
}

.rock {
  background: #757575;
}

.bug {
  background: #26a69a;
}

.ghost {
  background: #ababab;
}

.steel {
  background: #616161;
}

.fire {
  background: #f44336;
}

.grass {
  background: #66bb6a;
}

.electric {
  background: #ffee58;
}

.psychic {
  background: #d500f9;
}

.ice {
  background: #82b1ff;
}

.dragon {
  background: #e91e63;
}

.dark {
  background: #37474f;
}

.fairy {
  background: #ba68c8;
}

.unknown {
  border: 1px solid gray;
}

.shadow {
  background: #455a64;
}

.water {
  background: #4fc3f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

[class*=__container] {
  width: 85%;
  margin: 0 auto;
}

.header {
  background: white;
  width: 100%;
  height: 100px;
  position: fixed;
  box-shadow: -1px 3px 16px -10px #000000;
  display: flex;
  align-items: center;
  z-index: 10;
}
@media (max-width: 900px) {
  .header {
    height: 90px;
  }
}
@media (max-width: 500px) {
  .header {
    height: 80px;
  }
}
@media (max-width: 1200px) {
  .header .header__container {
    width: 95%;
  }
}
.header .header__container .header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__container .header__navbar .header__navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 340px) {
  .header .header__container .header__navbar .header__navbar__item {
    gap: 5px;
  }
}
.header .header__container .header__navbar .header__navbar__item .header__logo {
  cursor: pointer;
}
.header .header__container .header__navbar .header__navbar__item .header__logo img {
  width: 82%;
}
@media (max-width: 600px) {
  .header .header__container .header__navbar .header__navbar__item .header__logo img {
    width: 70%;
  }
}
@media (max-width: 440px) {
  .header .header__container .header__navbar .header__navbar__item .header__logo img {
    width: 120px;
  }
}
@media (max-width: 340px) {
  .header .header__container .header__navbar .header__navbar__item .header__logo img {
    width: 100px;
  }
}
.header .header__container .header__navbar .header__navbar__item .header__search {
  width: 500px;
}
@media (max-width: 940px) {
  .header .header__container .header__navbar .header__navbar__item .header__search {
    transform: translateY(-520%);
    transition: 0.4s;
    position: absolute;
    width: 90%;
    top: 120px;
    left: 5%;
    z-index: -5;
  }
}
@media (max-width: 900px) {
  .header .header__container .header__navbar .header__navbar__item .header__search {
    top: 110px;
  }
}
@media (max-width: 500px) {
  .header .header__container .header__navbar .header__navbar__item .header__search {
    top: 100px;
  }
}
.header .header__container .header__navbar .header__navbar__item .header__search input {
  width: 100%;
  padding: 2px 10px;
  outline: none;
  border: none;
  font-size: 16.5px;
  border-bottom: 1px solid black;
}
@media (max-width: 940px) {
  .header .header__container .header__navbar .header__navbar__item .header__search input {
    border: 1px solid black;
    height: 40px;
    border-radius: 4px;
  }
}
@media (max-width: 600px) {
  .header .header__container .header__navbar .header__navbar__item .header__search input {
    height: 32px;
  }
}
@media (max-width: 400px) {
  .header .header__container .header__navbar .header__navbar__item .header__search input {
    font-size: 14px;
  }
}
.header .header__container .header__navbar .header__navbar__item .active {
  transform: translateY(0);
  transition: 0.4s;
  border-radius: 4px;
}
.header .header__container .header__navbar .header__navbar__item .header__search__button {
  display: none;
  background: transparent;
  padding: 5.5px 14px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
.header .header__container .header__navbar .header__navbar__item .header__search__button:hover {
  background: #363636;
  color: white;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .header .header__container .header__navbar .header__navbar__item .header__search__button {
    padding: 3.5px 12px;
    margin-top: 7px;
  }
}
@media (max-width: 940px) {
  .header .header__container .header__navbar .header__navbar__item .header__search__button {
    display: block;
  }
}
.header .header__container .header__navbar .header__navbar__item .active {
  background: #363636;
  color: white;
}
.header .header__container .header__navbar .header__navbar__item .header__favourites {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  gap: 5px;
  padding: 4px 14px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
.header .header__container .header__navbar .header__navbar__item .header__favourites:hover {
  background: #363636;
  color: white;
  transition: 0.3s;
}
@media (max-width: 940px) {
  .header .header__container .header__navbar .header__navbar__item .header__favourites {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .header .header__container .header__navbar .header__navbar__item .header__favourites {
    padding: 2px 12px;
    margin-top: 7px;
  }
}
.header .header__container .header__navbar .header__navbar__item .header__favourites img {
  width: 20px;
  height: 20px;
}

.pokemon {
  padding-top: 200px;
  margin-bottom: 100px;
}
.pokemon .pokemon__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.pokemon .pokemon__container .pokemon__block {
  width: 220px;
  height: 300px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 13px -8px #414141;
  margin: 15px 10px;
  position: relative;
}
.pokemon .pokemon__container .pokemon__block:hover {
  transform: translateY(-3%);
  transition: 0.4s ease-out;
  cursor: pointer;
}
.pokemon .pokemon__container .pokemon__block .pokemon__image {
  height: 180px;
  width: 90%;
}
.pokemon .pokemon__container .pokemon__block .pokemon__image img {
  height: 100%;
  width: 100%;
}
.pokemon .pokemon__container .pokemon__block .pokemon__name {
  text-transform: capitalize;
  font-family: "Secular One", sans-serif;
  font-size: 18px;
}
.pokemon .pokemon__container .pokemon__block .pokemon__name:hover {
  cursor: text;
}
.pokemon .pokemon__container .pokemon__block .pokemon__types {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 30px;
  width: 70px;
  color: white;
}
.pokemon .pokemon__container .pokemon__block .pokemon__types:hover {
  cursor: text;
}
.pokemon .pokemon__container .pokemon__block .pokemon__add__favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 30px;
}
.pokemon .pokemon__container .pokemon__block .pokemon__add__favorite:hover {
  cursor: pointer;
  background: rgba(234, 234, 234, 0.73);
}
.pokemon .pokemon__container .pokemon__block .pokemon__add__favorite img {
  width: 24px;
  height: 24px;
}

.pagination {
  margin-bottom: 80px;
}
.pagination .pagination__container {
  padding: 0 20px;
}
.pagination .pagination__container .pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination .pagination__container .pagination__buttons .pagination-number {
  width: 22px;
  height: 22px;
}

/*# sourceMappingURL=style.css.map */
