@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Signika+Negative:wght@400;500;600;700&display=swap');
//font-family: 'Secular One', sans-serif;
//font-family: 'Signika Negative', sans-serif;

@import 'colors';
@import 'header';
@import 'pokemon';
@import "sort";
@import "favourites";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
  list-style: none;
}
[class*= '__container']{
  width: 85%;
  margin: 0 auto;
}


.pagination{
  margin-bottom: 40px;
  .pagination__container{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    .pagination__buttons{
      width: 50px;
      height: 30px;
      background: transparent;
      border: 1px solid black;
      border-radius: 3px;
      &:hover{
        background: #363636;
        color: white;
      }
    }

    .pagination__input{
      width: 70px;
      text-align: center;
      height: 30px;
      padding: 2px 8px;
      font-size: 17px;
      border-radius: 3px;
      border: 1px solid black;
      outline: none;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}